API_ID=209235 # get this value from my.telegram.org
API_HASH=169ee702e1df4b6e66d80311db36cc43 # get this value from my.telegram.org
BOT_TOKEN=6612610573:AAFj38646RxOzhUhGuhsYvBrw3r22fMC2Jo # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://abc:abc@music.dlua0.mongodb.net/yukki?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1002128649635 # get this value from in your log group 
MUSIC_BOT_NAME=──「 XCRY ダ MUSIC 」── # your music bot name 
STRING_SESSION=pyrogram_string_session # get this value from @yukkistringbot
DURATION_LIMIT=240
SPOTIFY_CLIENT_ID=bdd2c6f0c20e4f2aad56600c2566abf6
SPOTIFY_CLIENT_SECRET=e055b5850e0a4139b44f346ce18a50e1
